.Board {
  display: grid;
  grid-template-columns: repeat(2, 100px);
  grid-template-rows: repeat(2, 100px);
}

.Tile {
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Tile > img {
  width: 100px;
}

.Tile__winning {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0.3;
  }
}