.Grid {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  justify-content: center;
}

.Tile {
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Tile > img {
  width: 100px;
}

/* .Tile {
  width: 40px;
  height: 40px;
  border: 1px solid black;
  float: left;
  padding-left: 30px;
  padding-top: 25px;
}

.Tile:nth-child(3n+1) {
  clear: left;
} */